$red : red;
$red70 : rgba(255, 0, 0, 0.7);
$green : green;
$soft-green: #e7efef;
$light-green: #93c702;
$blue : #0000ff;
$theme-red: #DA1F3D;
$theme-grey: #F2F2F2;
$theme-grey-70: rgba(242, 242, 242, 0.7);
$theme-maris-blue: #D8E3F9;
$theme-maris-beige: #F0E0DF;
$theme-brai-yellow: #E1E9B9;

$bg-theme: #faf7f3;