*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif; }

a {
  text-decoration: none !important; }

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0; }

.mb {
  margin-bottom: 1rem; }

.card {
  background-color: red; }

.imagesSlide {
  height: 100%;
  width: 100%;
  background-color: transparent; }
  @media (min-width: 768px) {
    .imagesSlide {
      height: 100%;
      width: 85%; } }
  @media (min-width: 992px) {
    .imagesSlide {
      height: 100%;
      width: 100%; } }
  @media (max-height: 830px) and (min-height: 810px) {
    .imagesSlide {
      height: 100%;
      width: 100%; } }

.appCont {
  background-color: black; }
  @media (min-width: 480px) {
    .appCont {
      display: flex;
      flex-wrap: wrap; } }
  @media (min-width: 992px) {
    .appCont {
      justify-content: center; } }
  @media (min-width: 1200px) {
    .appCont {
      height: 90vh; } }
  @media (min-width: 1920px) {
    .appCont {
      height: 100vh; } }

.undanganCont {
  height: 100vh;
  display: flex;
  align-items: center; }
  @media (min-width: 480px) {
    .undanganCont {
      flex-basis: 35%; } }
  @media (min-width: 768px) {
    .undanganCont {
      flex-basis: 100%;
      display: flex;
      justify-content: center; } }
  @media (min-width: 992px) {
    .undanganCont {
      flex-basis: 40%;
      background-color: red; } }
  @media (min-width: 1200px) {
    .undanganCont {
      flex-basis: 45%; } }
  @media (min-height: 1366px) {
    .undanganCont {
      flex-basis: 80%; } }
  @media (min-width: 1920px) {
    .undanganCont {
      flex-basis: 25%; } }

.contentCont {
  background-color: yellow;
  height: 100vh; }
  @media (min-width: 480px) {
    .contentCont {
      flex-basis: 65%; } }
  @media (min-width: 768px) {
    .contentCont {
      flex-basis: 100%; } }
  @media (min-width: 992px) {
    .contentCont {
      flex-basis: 60%; } }
  @media (min-width: 1200px) {
    .contentCont {
      flex-basis: 55%; } }
  @media (min-height: 1366px) {
    .contentCont {
      flex-basis: 100%; } }
  @media (min-width: 1920px) {
    .contentCont {
      flex-basis: 40%;
      display: flex;
      justify-content: center;
      align-items: center; } }
